@CHARSET "UTF-8";
.article-box {
    min-height: 200px;
}

.article-box .article-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
    color: #666;
}

.article-sub {
    margin-top: 12px;
   	padding-bottom: 20px;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
}

.article-sub .original {
    display: inline-block;
    padding: 2px;
    border: 1px solid #999;
    line-height: 12px;
}

.article-sub span {
    color: #777;
    margin-right: 15px;
}

.article-box .article-content, 
.article-box .article-content > div {
    font-size: 15px;
    line-height: 28px;
    color: #666;
    word-wrap: break-word;
}

.article-box .article-content {
    margin-bottom: 24px;
}

.article-box .article-content>div h1, 
.article-box .article-content h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #666;
    margin: 24px 0 22px;
}

.article-box .article-content div p, 
.article-box .article-content p {
    margin: 16px 0;
}

.article-box .article-content>div img, 
.article-box .article-content img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

img {
    border-style: none;
}

.article-box .article-content .pgc-img-caption, 
.article-box .article-content>div .pgc-img-caption {
    text-align: center;
    font-size: 12px;
    color: #777;
    line-height: 16px;
    margin-top: 0;
}

.article-box .article-content>div>ol, 
.article-box .article-content>div>ul, 
.article-box .article-content>ol,
.article-box .article-content>ul {
    padding: 20px 30px;
    color: #666;
}

.article-box .article-content>div ul, 
.article-box .article-content ul {
    list-style: square outside;
    margin-bottom: 20px;
}

.article-box .article-content>div ol, 
.article-box .article-content ol {
    list-style: decimal outside;
}

.article-box .article-content>div ol li, 
.article-box .article-content>div ul li, 
.article-box .article-content ol li, 
.article-box .article-content ul li {
    list-style: inherit;
    margin-left: 20px;
}

.article-box .article-content>div blockquote,
.article-box .article-content blockquote {
    position: relative;
    font-size: 15px;
    line-height: 1.5;
    color: #999;
    margin: 1em 0;
    padding: 12px 10px;
    background: #f4f5f6;
    border: 1px solid #e8e8e8;
}

.article-tag {
    margin-bottom: 28px;
}

.bui-box {
    display: none;
    zoom: 1;
}

.bui-box:after, 
.bui-box:before {
    content: "";
    display: table;
}

.bui-left {
    float: left;
}

.bui-right {
    float: right;
}

.article-tag .tag-list, 
.article-tag i {
    display: inline-block;
    vertical-align: middle;
}

.bui-icon {
    font-family: tticons!important;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bui-icon, address, cite, dfn, em, i, var {
    font-style: normal;
}

ol, ul {
    list-style: none;
}

.article-tag .tag-item {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
}

.article-tag .tag-item:first-child:before {
    content: "";
}

.article-tag .tag-item:before {
    content: "/";
    padding-right: 10px;
    color: #e0e0e0;
}

.article-tag .tag-item .label-link {
    color: #406599;
}

a:visited {
    color: #999;
}

a {
    color: #666;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}

.repin {
    display: inline-block;
    cursor: pointer;
    line-height: 18px;
}

.repin i {
    width: 18px;
}

.repin i, .repin span {
    vertical-align: middle;
}

.icon-favorite_line:before {
    content: "\E64B";
}

.repin span {
    color: #999;
    font-size: 14px;
    padding-left: 7px;
}

.article-tag .report {
    display: inline-block;
    margin-left: 10px;
}

.report .areport {
    display: inline-block;
    cursor: pointer;
    line-height: 18px;
}

.report .areport i {
    width: 14px;
    margin-right: 7px;
    vertical-align: middle;
}

.icon-report:before {
    content: "\E64D";
}

.report .areport span {
    color: #999;
    font-size: 14px;
    vertical-align: middle;
}

.article-box .article-content pre {
	background-color: #f4f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-content pre > code {
	font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    padding: 20px 15px 12px;
}



