.slide-wrap
{
	position: relative;
}

.sw-player 
{
	position: relative;
}

textarea, td, div, input, p 
{
	font-size: 12px;
}

.part-a 
{
	border: 1px solid #eee;
	background: #fff;
	margin: 0 0 20px 0;
	position: relative;
}

.clearfix 
{
	zoom: 1;
}

.swp-tit 
{
	height: 70px;
	line-height: 35px;
	padding: 17px 24px 11px;
	overflow: hidden;
}

.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.swp-tit h2
{
	font-size: 21px;
	color: #2c2c2c;
	float: left;
	display: inline;
	font-weight: normal;
}

.swp-tool
{
	height: 16px;
	line-height: 16px;
	padding: 0 24px 20px;
	color: #666;
}

.swpt-time 
{
	font-family: "helvetica_neue_lt_pro35_thin",Helvetica,Verdana;
	font-size: 14px;
	color: #ababab;
}

.swp-tool .swpt-time 
{
	font-style: normal;
	font-size: 12px;
}

.swp-hd 
{
	position: relative;
	overflow: hidden;
	background: url("/images/loader.gif") 406px center no-repeat;
	cursor: pointer;
	margin: 0 auto;
}

.swp-item 
{
	width: 100%;
	overflow: hidden;
	float: left;
	display: inline;
}

.swp-img 
{
	text-align: center;
	min-height: 100px;
	zoom: 1;
}

.swp-hd img 
{
	vertical-align: middle;
}

.current .swp-img img 
{
	display: inline-block;
	zoom: 1;
}

a:visited 
{
	color: #999;
	text-decoration: none;
}

.swp-btn 
{
	background: rgba(255,255,255, 0.6);
}

.swp-btn 
{
	position: absolute;
	top: 50%;
	display: none;
	padding: 15px 20px;
	z-index: 3;
}

.swp-prev i 
{
	background-position: 0 -230px;
}

.swp-btn i 
{
	display: block;
	width: 21px;
	height: 41px;
	overflow: hidden;
	cursor: pointer;
}

.nav-inner .logo, .nwi-lnk, .swpt-tip i, .swpt-full-tip i, .swpt-original i, .swpt-mode i, .swpl-btn i, .swpb-item i, 
.swp-btn i, .heart-vote i, .sw-audio .sw-audio-play, .sw-audio .sw-audio-loading, .sw-audio .sw-audio-error, .sw-audio .sw-audio-pause,
.hr-a i, .top-tip .hot, .swpw-txt .swpw-follow span, .swpw-txt .swpw-follow a, .swpw-approve, .side-btns-top-btn 
{
	background-image: url("/images/bg.png");
	background-repeat: no-repeat;
}

.swp-next
{
	right: 0px;
}

.swp-next i 
{
	background-position: -80px -230px;
}

.swp-txt 
{
	line-height: 24px;
	padding: 15px 15px 15px 65px;
}

.swp-txt 
{
	padding: 15px 0 15px 25px;
	position: relative;
	margin: 0 1px;
}

.swpt-table 
{
	text-align: left;
	width: 815px;
	height: auto !important;
	height: 75px;
	min-height: 75px;
	padding: 0 25px 0 0;
	border-right: 1px solid #E6E6E6;
}

.swpt-table .swpt-cell 
{
	vertical-align: middle;
}

.swpt-cont 
{
	line-height: 28px;
	font-size: 14px;
	color: #666;
	text-indent: 2em;
}

.swpt-cont 
{
	text-indent: 0em;
}

.num 
{
	color: #a1a1a1;
	font-size: 16px;
	float: left;
	margin: 4px 0 0 0;
	padding-right: 10px;
}

.num em 
{
	color: #ab000e;
	font-size: 24px;
	font-style: normal;
}

.swpt-1013
{
	overflow: hidden;
	font-size: 14px;
}

.heart-vote-wrap 
{
	position: absolute;
	right: 25px;
	top: 15px;
}

.heart-vote:link, .heart-vote:visited 
{
	color: #666;
	text-decoration: none;
}

.heart-vote 
{
	display: block;
	width: 90px;
	height: 85px;
	line-height: 30px;
	text-align: center;
	font-family: "Microsoft Yahei","微软雅黑";
	font-size: 14px;
	color: #666;
	cursor: pointer;
	overflow: hidden;
}

.heart-vote i 
{
	margin: 5px 0 10px 27px;
}

.heart-vote i 
{
	display: block;
	width: 32px;
	height: 27px;
	overflow: hidden;
	background-position: -0px -360px;
}

.swp-list-wrap 
{
	display: block;
	text-align: center;
	font-size: 0;
	height: 132px;
	padding: 5px 0 20px 0;
}

.swp-list 
{
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	overflow: hidden;
}

.swpl-group:link, .swpl-group:visited
{
	color: #333;
	text-decoration: none;
}

.swpl-group 
{
	float: left;
	display: inline;
	width: 106px;
	height: 150px;
	overflow: hidden;
	margin: 0 20px 0 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.swpl-group-next 
{
	margin: 0;
}

.swpl-group .bg 
{
	border: 1px solid #DEDFE3;
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 3;
}



.swpl-group .inner 
{
	vertical-align: middle;
}

.swpl-group .inner 
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100px;
	height: 100px;
}

.swpl-group .bg-b 
{
	left: 2px;
	top: 2px;
	z-index: 2;
}

.swpl-group .bg-c 
{
	left: 4px;
	top: 4px;
	z-index: 1;
}

.swpl-group i 
{
	position: absolute;
	padding: 0 55px;
	line-height: 105px;
	left: 0;
	top: 0;
	z-index: 12;
	background-image: url(#);
}

.swpl-group em 
{
	line-height: 18px;
	height: 40px;
	display: block;
	font-style: normal;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 106px;
	text-align: center;
}

.swpl-fastprev 
{
	border-radius: 10px 0 0 10px;
}

.swpl-btn 
{
	width: 12px;
	height: 120px;
	padding: 0 9px;
	float: left;
	display: inline;
	background: #F9F9F9;
}

.swp-list-wrap .disabled, .swp-list-wrap .disabled i 
{
	cursor: text;
}

.swpl-btn i 
{
	margin-top: 50px;
	cursor: pointer;
}

.swpl-fastprev i 
{
	background-position: 0 -190px;
}

.swpl-btn i 
{
	display: block;
	width: 12px;
	height: 20px;
}

.swp-list-cont
{
	width: 670px;
	height: 120px;
	float: left;
	display: inline;
	margin: 0 15px;
	overflow: hidden;
}

.swp-list ul 
{
	float: left;
	width: 1900px;
	overflow: hidden;
}

.swp-list li 
{
	float: left;
	display: inline;
	width: 120px;
	cursor: pointer;
}

.swp-list li a 
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 120px;
	height: 120px;
}

.swp-list li.current img, .swp-list li.hover img
{
	padding: 0;
	border-width: 4px;
	border-color: #1CC07C;
}

.swp-list li img 
{
	border: 1px solid #dfdfdf;
}

.swp-list img 
{
	vertical-align: middle;
}

.swpl-fastnext
{
	border-radius: 0 10px 10px 0;
	margin-right: 20px;
}

.swpl-fastnext i 
{
	background-position: -40px -190px;
}



