/*------------top.jsp   start -----------------*/
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr 
{
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea 
{
	font: 12px/1.125 "Simsun", "Arial Narrow", HELVETICA;
	color: #000;
}

.top
{
	height: 140px;
	width: 100%;
	background: url("/images/manage/top.jpg");
}

.top-title
{
	color: #fff;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	height: 68px;
}

.cur-time
{
	float: right;
	height: 40px;
	color: #fff;
	margin-right: 70px;
	font-weight: bold;
	font-size: 16px;
}

.admin-logout
{
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
}

.admin-logout:hover
{
	text-decoration: underline;
}


/*------------top.jsp   end -----------------*/

/*-------------left.jsp  start---------------*/

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

.floot 
{
	table-layout: fixed;
}

.h_floot_left 
{
	width: 180px;
	border-right: 1px solid #D5DFA3;
	vertical-align: top;
}

.h_floot_left a
{
	text-decoration: none;
	color: #333333;
}

.h_floot_leftdiv 
{
	padding: 10px 10px 50px 15px;
}

.co20
{
	margin-bottom: 20px;
}

.faq_menu h4 
{
	border-bottom: 1px solid #cad89d;
	margin-bottom: 5px;
	padding: 0 5px 5px;
	background: url("/images/manage/faq_down.gif") no-repeat;
	background-position: 100% 8px;
}

.s4 
{
	color: #07519A;
}

.cp 
{
	cursor: pointer;
}

.h_floot_leftdiv dl dt
{
	background: url("/images/manage/faq_in.gif") 14px 16px no-repeat;
	padding: 9px 0px 14px 25px;
}

.p15 
{
	padding: 15px;
}

.p15 h4
{
	padding-bottom: 6px;
	margin: 0px;
	border-bottom: 1px solid #D5DFA3;
}

.p15 img
{
	margin-top: 10px;
	border: 1px solid #e3e3e3;
}

.h_floot_right
{
	background: #fff;
}

.c-div-con
{
	border: 1px dotted #ccc;
	background: #f7f7f7;
	margin-top: 10px;
}

.tpc_content 
{
	padding: 0 2px 10px;
	margin: 0;
	line-height: 1.8em;
}

.p15-common
{
	display: none;
}

/*-------------left.jsp  end-----------------*/










