body
{
	margin: 0;
	padding: 0;
}

.cur_postion
{
	height: 40px;
	padding-top: 10px;
	padding-left: 3px;
	border-bottom: 1px solid #e3e3e3;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',宋体b8b\4f53,sans-serif;
}

.location 
{
	clear: both;
	text-align: left;
	margin: 0;
	background: url("/images/manage/location.gif") no-repeat 0 2px;
	padding-left: 23px;
}

.location a 
{
	text-decoration: none;
	color: #2244DD;
}

.location a:hover
{
	text-decoration: underline;
	color: #f40;
}

.section
{
	margin: 5px 10px 80px 5px;
}

#pro-div
{
    margin-bottom: -1px;
}