body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td 
{
	margin: 0;
	padding: 0;
}

body 
{
	font: 12px/20px "Microsoft Yahei","SimSun","Arial Narrow",serif;
	background: #FFF;
	color: #666;
}

h1, h2, h3, h4, h5, h6 
{
	font-size: 100%;
	font-weight: normal;
}

textarea, td, div, input, p 
{
	font-size: 12px;
}

.wrap 
{
	width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
}

.slide-wrap 
{
	position: relative;
}

.sw-player 
{
	position: relative;
}

.part-a 
{
	border: 1px solid #eee;
	background: #fff;
	margin: 0 0 20px 0;
	position: relative;
}

.clearfix 
{
	zoom: 1;
}

.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.swp-tit 
{
	height: 70px;
	line-height: 35px;
	padding: 17px 24px 11px;
	overflow: hidden;
}

.swp-tit h2
{
	font-size: 21px;
	color: #2c2c2c;
	float: left;
	display: inline;
	font-weight: normal;
}

.swp-tool 
{
	height: 16px;
	line-height: 16px;
	padding: 0 24px 20px;
	color: #666;
}

.swp-tool .swpt-time 
{
	font-style: normal;
	font-size: 12px;
}

.swpt-time
{
	font-family: "helvetica_neue_lt_pro35_thin",Helvetica,Verdana;
	font-size: 14px;
	color: #ababab;
}

.swp-hd 
{
	position: relative;
	overflow: hidden;
	background: url("/images/loader.gif") 406px center no-repeat;
	cursor: pointer;
	margin: 0 auto;
}

a:visited 
{
	/*color: #999;*/
	text-decoration: none;
}

.swp-btn 
{
	position: absolute;
	top: 50%;
	display: none;
	padding: 15px 20px;
	z-index: 3;
}

.swp-btn
{
	background: rgba(255,255,255, 0.6);
}

a
{
	text-decoration: none;
}

.nav-inner .logo, .nwi-lnk, .swpt-tip i, .swpt-full-tip i, .swpt-original i, .swpt-mode i, .swpl-btn i,
.swpb-item i, .swp-btn i, .heart-vote i, .sw-audio .sw-audio-play, .sw-audio .sw-audio-loading, 
.sw-audio .sw-audio-error, .sw-audio .sw-audio-pause, .hr-a i, .top-tip .hot, .swpw-txt .swpw-follow span, 
.swpw-txt .swpw-follow a, .swpw-approve, .side-btns-top-btn 
{
	background-image: url("/images/bg.png");
	background-repeat: no-repeat;
}

.swp-btn i 
{
	display: block;
	width: 21px;
	height: 41px;
	overflow: hidden;
	cursor: pointer;
}

.swp-prev i 
{
	background-position: 0 -230px;
}

.swp-next
{
	right: 0px;
}

.swp-next i 
{
	background-position: -80px -230px;
}

ul, lo 
{
	list-style: none;
}

.swp-item 
{
	width: 100%;
	overflow: hidden;
	float: left;
	display: inline;
}

.swp-img 
{
	text-align: center;
	min-height: 100px;
	zoom: 1;
}

.swp-hd img 
{
	vertical-align: middle;
}

.swp-txt 
{
	line-height: 24px;
	padding: 15px 15px 15px 65px;
}

.swp-txt 
{
	padding: 15px 0 15px 25px;
	position: relative;
	margin: 0 1px;
}

.swpt-table 
{
	text-align: left;
	width: 930px;
	height: auto !important;
	height: 75px;
	min-height: 75px;
	padding: 0 25px 0 0;
}

.swpt-table .swpt-cell 
{
	vertical-align: middle;
}

.swpt-cont 
{
	line-height: 28px;
	font-size: 14px;
	color: #666;
	text-indent: 2em;
}

.swpt-cont 
{
	text-indent: 0em;
}

.num 
{
	color: #a1a1a1;
	font-size: 16px;
	float: left;
	margin: 4px 0 0 0;
	padding-right: 10px;
}

.num em
{
	color: #ab000e;
	font-size: 24px;
	font-style: normal;
}

.swpt-1013 
{
	overflow: hidden;
	font-size: 14px;
}

.check
{
	padding-bottom: 40px;
}

.check-common
{
	width: 58px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	border-radius: 1px;
	display: inline-block;
	margin-right: 10px;
	font-weight: 700;
	cursor: pointer;
}

.pass
{
	border: 1px solid #52a0e5;
	background: #52a0e5;
	color: #fff;
}

.check-deny
{
	border: 1px solid #52a0e5;
	background: #52a0e5;
	color: #fff;
}

.pass:hover
{
	border: 1px solid #52a0e5;
	background: #76B0E4;
	color: #fff;
}

.deny
{
	border: 1px solid #D78383;
	background: #D78383;
	color: #fff;
}

.deny:hover
{
	border: 1px solid #D78383;
	background: #D89E9E;
	color: #fff;
}

.check-title
{
	margin: 15px 0;
	font-size: 18px;
	color: #2c2c2c;
	font-weight: normal;
}

.check-rel-div
{
	display: block;
}

.check-opinion-text
{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 14px;
	margin-top: 10px;
}

.deny-reason-tip, .deny-div
{
	display: none;
}

.sheild_down_div
{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}

.show_delete_div_2
{
	width: 374px;
	left: 40%;
	top: 39%;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 20px 20px 20px 30px;
	z-index: 9999;
	position: absolute;
	display: none;
	border: 1px solid #aeaeae;
}

.delete_div_content
{
	font-size: 14px;
	color: #3c3c3c;
	font-weight: 700;
	margin-bottom: 20px;
}

.close_spe_div_2
{
	width: 19px;
	height: 18px;
	overflow: hidden;
	float: right;
	background: url("/images/picture/show_success_error.png") no-repeat;
	cursor: pointer;
}

.close_a
{
	background-position: 0 -135px;
}

.close_a:hover
{
	background-position: 0 -163px;
}

.yes_or_no_div
{
	margin-top: 20px;
}

.yes_a_span_2 
{
	background: #52a0e5;
	color: #fff;
}

.yes_a_span_2:hover 
{
	background: #73AFE4;
	color: #fff;
}

.no_a_span_2
{
	border: 1px solid #52a0e5;
	background: #fff;
	border-color: #d9d9d9;
	color: #3c3c3c;
}

.uploading_tip
{
	width: 380px;
	height: 200px;
	left: 40%;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 20px;
	z-index: 99999;
	position: absolute;
	border: 1px solid #aeaeae;
	text-align: center;
	display: none;
}



















































