.F_con 
{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.Vd_titBox 
{
	height: 60px;
}

.clearfix:after 
{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	overflow: hidden;
}

.clearfix
{
	zoom: 1;
}

.Vd_titBox h2 
{
	text-align: left;
}

.Vd_titBox h2 
{
	width: 640px;
	float: left;
	padding-top: 20px;
	font-size: 20px;
	font-weight: 700;
}

.vd_playBox 
{
	float: left;
	margin-bottom: 20px;
	background: url('/images/black_bg.jpg');
}

.F_asid 
{
	width: 300px;
	float: right;
}

.S_borderTab
{
	border: 1px solid #eee;
}

.relatedVdoLs
{
	margin-bottom: 10px;	
}

.V_modBoxTab .tit 
{
	height: 33px;
}

.S_txt2
{
	color: #999;
}

.V_modBoxTab .tit .cur 
{
	border-top-color: #000;
}

.V_modBoxTab .tit .cur 
{
	color: #555;
	position: relative;
	top: -1px;
	border: 0 none;
	border-top: 2px solid #0072D0;
	cursor: default;
}

.V_modBoxTab .tit .l 
{
	margin-right: 0;
}

.V_modBoxTab .tit .l
{
	border-style: solid;
	padding: 8px 0 5px 0;
}

.V_modBoxTab .tit h3 
{
	font-size: 16px;
	float: left;
	text-align: center;
	width: 150px;
	margin: 0 -1px;
	cursor: pointer;
}

.vd_msg
{
	background: #f6f6f6;
}

.video_detail
{
	padding-bottom: 8px;
    overflow: hidden;
    clear: both;
}

.msg_cnt .tl
{
    width: 100%;
    margin-bottom: 14px;
    padding-top: 16px;
    font: normal 20px/24px 'Microsoft Yahei';
}

.mg_a 
{
    width: 700px;
    float: left;
}

.msg_cnt .m_hd 
{
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
}

.msg_cnt dl 
{
    clear: both;
    overflow: hidden;
    vertical-align: top;
}

.msg_cnt .dtl_lst dt 
{
    float: left;
    width: 58px;
    font: 14px/22px 'Microsoft Yahei';
    color: #444;
}

.msg_cnt dl dt, .msg_cnt dl dd 
{
    line-height: 22px;
    word-break: break-all;
    word-wrap: break-word;
}

.msg_cnt .dtl_lst dd 
{
    position: relative;
    font: 14px/22px 'Microsoft Yahei';
    color: #888;
    overflow: hidden;
}

.msg_cnt .tag_nm 
{
    margin: 0 10px 0 0;
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    background: #e5e5e5;
    white-space: nowrap;
}

.mg_b 
{
    float: right;
    width: 230px;
    font: 12px/12px 'Arial';
}


















