body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr 
{
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea 
{
	font: 12px/1.125 "Simsun", "Arial Narrow", HELVETICA;
	color: #000;
}

td, p, li, select, input, textarea, div, h1, h2, h3, h4, h5
{
	font-style: normal;
}

.B_reg
{
	background: url("/images/reg_bg_x.jpg") repeat-x 0 top #dceaf5;
}

.B_reg .TX_reg 
{
	background: url("/images/reg_bg.jpg") no-repeat top center;
}

.B_reg .reg_hd 
{
	margin: 0 auto;
	width: 900px;
	height: 80px;
	border-bottom: 2px solid #ff9000;
}

.B_reg .reg_logo 
{
	float: left;
	margin-top: 35px;
	width: 154px;
	height: 36px;
	/*background: url(/images/register/tx_logo.gif) no-repeat 0 0;*/
	overflow: hidden;
	text-align: right;
	color: #000;
	line-height: 45px;
}

.logotxt
{
	float: left;
	margin: 50px 0 0 10px;
}

.B_reg .reg_main 
{
	margin: 0 auto;
	width: 900px;
	background: #fafafa;
	_height: 540px;
}

.clearfix 
{
	zoom: 1;
}

.clearfix:after 
{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.B_reg .reg_main .reg_info 
{
	padding-top: 10px;
	background: url("/images/reg_line.png") repeat-y 632px 0;
}

.B_reg .reg_aside 
{
	float: right;
	margin: 30px 30px 0 0;
	width: 210px;
	font-size: 14px;
	display: inline;
}

.B_reg .reg_aside .have_ac 
{
	margin-bottom: 10px;
	border-bottom: 1px #CCCCCC;
}

.B_reg .reg_aside p 
{
	padding-bottom: 10px;
}

a:link, a:visited 
{
	text-decoration: none;
	outline: none;
	color: #0a8cd2;
}

a:hover
{
	text-decoration: underline;
}

.B_reg .reg_form 
{
	position: relative;
	float: left;
	width: 600px;
	margin: 30px 0 0 30px;
	_display: inline;
}

.B_reg .reg_form .info_list 
{
	margin: 0 0 15px;
	position: relative;
}

.B_reg .reg_form .tit
{
	float: left;
	width: 160px;
	font-size: 14px;
	line-height: 30px;
	text-align: right;
}

address, caption, cite, code, dfn, em, i, th, var 
{
	font-style: normal;
	font-weight: normal;
}

.B_reg .reg_form .tit i 
{
	padding-right: 4px;
	color: #f00;
	font: 'simsun';
}

.B_reg .reg_form .ipt 
{
	margin-left: 160px;
}

.B_reg .reg_ipt, .B_reg .reg_form .mail_domain 
{
	width: 195px;
	height: 30px;
	padding: 0 0 0 5px;
	_padding: 8px 0 0 5px;
	_height: 22px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0 #eaeaea inset;
	vertical-align: middle;
	_line-height: 1em;
}

input, textarea
{
	outline-style: none;
}

.B_reg .tips 
{
	position: absolute;
	left: 375px;
	top: 10px;
	width: 210px;
	padding-left: 20px;
	line-height: 1.125;
}

.B_reg .tips span
{
	background-image: url("/images/reg_ico.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	float: left;
	margin-left: -18px;
}

.B_reg .icon_del 
{
	background-position: -60px 0;
}

.B_reg .tips .erro 
{
	color: #e64141;
}

.B_reg .tips .reg_tip 
{
	color: #7c7c7c;
}

.B_reg .icon_del 
{
	background-position: -60px 0;
}

.B_reg .icon_succ 
{
	background-position: -30px 0;
}

.B_reg .icon_tip 
{
	background-position: 0 0;
}

.B_reg .reg_form .ver_code .reg_ipt 
{
	width: 48px;
}

.B_reg .reg_form .ver_pic img 
{
	vertical-align: middle;
	margin: 0 4px;
}

fieldset, img 
{
	border: 0;
}

.reg_form .info_submit 
{
	padding-top: 17px;
}

.B_reg .reg_form .ipt 
{
	margin-left: 160px;
}

.B_reg .btn_sub 
{
	padding-left: 68px;
	color: #fff;
}

.B_reg .btn_sub:hover
{
	background-position: 0 -120px;
	text-decoration: none;
	cursor: pointer;
}

.B_reg .btn_sub, .B_reg .btn_sub span 
{
	display: inline-block;
	zoom: 1;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	background-image: url(/images/reg_btn.png);
	background-repeat: no-repeat;
}

.B_reg .btn_sub span 
{
	padding-right: 68px;
	background-position: right -60px;
	color: #fff;
}

.B_reg .btn_sub:hover span 
{
	background-position: right -180px;
	color: #fff;
}













